@model ubakip.Models.Post
<script src="~/Scripts/drag-and-drop-pages.js"></script>
<script src="~/Scripts/sortable.min.js"></script>
<script src="~/Scripts/ng-tags-input.min.js"></script>
<link href="~/Content/ng-tags-input.min.css" rel="stylesheet" />
<div ng-app="sortableApp" ng-controller="sortableController" ng-init='Initialize(@ubakip.Controllers.JavaScriptConverterController.JavaScriptConvert.SerializeObject(Model))'>

   <label>Name:</label> <input type="text" name="name" id="name" value={{name}} class="form-control" placeholder="Comix name">
   <label>Tags:</label> <tags-input ng-model="tagsText">
        <auto-complete source="loadTags($query)" min-length="0"
                     load-on-focus="true"
                     load-on-empty="true"
                     max-results-to-show="32"></auto-complete></tags-input>
    <label>Rating:</label> <p>
        <select size="1" name="MPAA rating">
            @foreach (var item in ViewBag.AvailableMPAARatings)
            {
                <option selected=@(item.Id == Model.MPAARating.Id) value=@item.Id>@item.Description</option>
            }
        </select>
    </p>
  
    <div>
        <label>
            <input type="checkbox" ng-model='publish'>Published
        </label>
    </div>
        <button type="button" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-success">Add page</button> 
        <div class="pages-container" id="sortable" ng-model="pages">           
            <div ng-class="{'list-group-item': true, 'cover': page.id == coverPageId, 'page-preview' :page.id != coverPageId}" id={{page.id}} ng-repeat="page in pages">
               <img class="img-responsive center-block" ng-src={{page.preview}}>
            </div>
        </div>
    </div>
<script>

</script>


