@model ubakip.Models.Post
<script src="~/Scripts/VideoController.js"></script>

<script>
    window.onload = function () {
        var el = document.getElementById("p"+@ViewBag.TargetId);
        el.scrollIntoView(true);
    }
</script>

<h1>@Model.Comix.Name</h1>
    @{
        foreach (var p in Model.Comix.Pages)
        {
            string id = "p" + p.Id;
            <div style="text-align: center"  id=@id class="post">
                <div class="wrapper">
                    <div class="main-form center-block" id="main-form" style="background:#@p.Background">
                        @Html.Raw(p.Preview)
                    </div>
                </div>
            </div>
        }
    }
