@model ubakip.Models.ComixesRepository
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/VideoController.js"></script>
<div class="row">
    <div class="col-md-2 col-md-push-10">
        <div class="sidebar" id="sidebar">
            <button type="button" class="btn  btn-block btn-success " onclick="location.href='@Url.Action("Index", "Comix", new { id = 0 })'" style="">Add post</button>
            <div class="tags-cloud">
                Popular tags:<br />
                @{
                    foreach (var p in Model.Tags)
                    {
                        <div class="tag-li">
                            <div class="tag">
                                <a href="@Url.Action("FindComixByTag", "Home", new {tag = p.Name })">@p.Name</a>
                            </div><span class="badge">@p.Count</span>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-10 col-md-pull-2">
        <div class="content" id="content">
            @{
                foreach (var p in Model.Posts)
                {
                    Html.RenderPartial("PostLayout", p);
                }
            }
        </div>
    </div>
</div>