@{
    ViewBag.Title = "Index";
}

<div style="padding-top: 60px;" class="row">
    <div style="border: 2px solid; border-color: #000; padding-top: 60px;" class="col-lg-10">
        <p style="text-align:center; font-size:x-large; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">New Post Here</p>
    </div>

    <div class="col-lg-2">
        <div class="sidebar" id="sidebar">
            <button type="button" class="btn  btn-block btn-success " style="">Add post</button>
            <div class="tags-cloud">
                Popular tags:<br />
                <div class="tag-li"><div class="tag"><a href="#">tag1</a></div><span class="badge">12</span></div>
                <div class="tag-li"><div class="tag"><a href="#">tag1</a></div><span class="badge">12</span></div>
                <div class="tag-li"><div class="tag"><a href="#">tag1</a></div><span class="badge">12</span></div>
                <div class="tag-li"><div class="tag"><a href="#">tag1</a></div><span class="badge">12</span></div>
            </div>
        </div>
    </div>

</div>