@using (Html.BeginForm("_CommentsPartial", "UserInfo", FormMethod.Post))
{
    @model ubakip.Models.Comments
    <div class="row">
        <h2>Comments</h2>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", id = "commentbox", rows = "3", placeholder = "Enter comment" } })
            @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-2">
            <button class="btn btn-info" type="submit">Send</button>
        </div>
        <div class="col-md-4">
            <p style="color: #0094ff; font-weight:bold;">Comment shouldn't be null.</p>
            <p style="color: #0094ff; font-weight:bold;">Comment should be 5 and more symbols.</p>
        </div>
    </div>


    <style>
        .multi-line {
            max-width: 100%;
        }
    </style>
    <script>
        document.getElementById('commentbox').onkeydown = function (e) {
            if (e.keyCode == 13) {
                document.submit();
                document.method = 'post';
            }
        };
    </script>
}

