@model ubakip.Models.Comments

<div class="container">
    <div class="row" style="border: 1px solid; border-color: black;">
        <div class="col-lg-6" style="border: 1px solid; border-color: black;">
            <h2>Here is the user's information.</h2>
        </div>
        <div class="col-lg-6" style="border: 1px solid; border-color: black;">
            <h2>Here is user's additional information.</h2>
        </div>
    </div>
    <div class="row" style="padding-top: 5px;">
        <div class="col-lg-4" style="border: 1px solid; border-color: black;">
            <h2>Here is user's photo.</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="col-lg-8" style="padding-left: 25px; border: 1px solid; border-color: black;">
            <h2>Here is user's About.</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
    </div>
    <hr />
    <div class="row" style="padding-top: 5px;">
        <div class="col-lg-12" style="border: 1px solid; border-color: black;">
            <h2>Here is user's medals.</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
    </div>
    <hr />
    <div class="row" style="padding-top: 30px;">
        <h2>Comments</h2>
        @using (Html.BeginForm())
        {
            <div class="col-md-4">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "form-control", id = "commentbox", rows = "3", placeholder = "Enter comment" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4">
                <button class="btn btn-info" type="submit">Send</button>
            </div>

        }
    </div>
</div>
