@{
    ViewBag.Title = "Edit";
}
@model ubakip.Models.UserProfile

<div class="container" style="padding-top:40px; text-align: center;">
    <h1>Edit your profile info</h1>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="form-group" style="display: inline-block;">
                @Html.EditorFor(u => u.User.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "First name" } })
            </div>
            <div class="form-group" style="display: inline-block;">
                @Html.EditorFor(u => u.User.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Last name" } })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-lg-offset-3">
            <div class="form-group" style="display: inline-block;">
                @Html.LabelFor(u => u.UserInfo.About, "About:")
                @Html.TextAreaFor(u => u.UserInfo.About, 8, 40, new { @class = "form-control", placeholder = "About" })
            </div>
        </div>
    </div>
    <div class="row">
        <h2>User photo</h2>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="form-group" style="display: inline-block;">
                <h4>Select file:</h4><br />
            </div>
            <div class="form-group" style="display: inline-block;">
                <input id="file" type="file"><br />
            </div>
            <div class="form-group" style="display: inline-block;">
                <button type="button" onclick="" class="btn btn-success">Add</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <button class="btn btn-info" type="submit">Save</button>
        </div>
    </div>
</div>
